<!DOCTYPE html>
	<html>
	<head>
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

	<title>Beauty Home</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>


	<body class="d-flex flex-column vh-100">

	<header class="shadow-sm">
	<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container">
<h1><%= link_to "Beauty Home", root_path, class:"navbar-brand text-black" %></h1>
	   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
	<% if customer_signed_in? %>

	<li class="nav-item">
	<p><%= link_to "マイページ", customers_my_page_path %></p>
	</li>
	<li class="nav-item">
	<p><%= link_to "商品一覧", items_path %></p>
	</li>
	<li class="nav-item">
	<p><%= link_to "メーカ一覧", makers_path %></p>
	</li>
	<li class="nav-item">
	<p><%= link_to "カート", cart_items_path %></p>
	</li>
	<li class="nav-item">
	<p><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></p>
	</li>
　<% elsif admin_signed_in? %>
　<li class="nav-item">
　<p><%= link_to "商品一覧", admins_items_path %></p>
　</li>
　<li class="nav-item">
　<p><%= link_to "会員一覧", admins_customers_path %></p>
　</li>
　<li class="nav-item">
　<p><%= link_to "注文商品一覧", admins_homes_path %></p>
　</li>
　<li class="nav-item">
　<p><%= link_to "お悩み一覧", admins_troubles_path %></p>
　</li>
　<li class="nav-item">
　<p><%= link_to "メーカー一覧", admins_makers_path %></p>
　</li>
　<li class="nav-item">
　<p><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></p>
　</li>
　<% else %>

　<li class="nav-item">
　<p><%= link_to "商品一覧", items_path %></p>
　</li>
　<li class="nav-item">
　<p><%= link_to "メーカ一覧", makers_path %></p>
　</li>
　<li class="nav-item">
　<p><%= link_to "新規登録", new_customer_registration_path %></p>
　</li>
　<li class="nav-item">
　<p><%= link_to "ログイン", new_customer_session_path %></p>
　</li>
　<% end %>
　</ul>
   </div>
	</div>
	 </nav>
	</header>

	<main class="mb-auto">
	<%= yield %>
	</main>
	<footer>
	</footer>
